/* main */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --green: rgb(0, 100, 55);
  --green-hover: rgb(0, 150, 70);
  --light-green: rgb(0, 165, 0);
  --light-green-hover: rgb(0, 150, 70);
  --red: rgb(255, 0, 0);
  --red-hover: rgb(200, 0, 0);
  --orange: rgb(255, 150, 0);
  --orange-hover: rgb(255, 100, 0);
  --blue: rgb(0, 110, 255);
  --blue-hover: rgb(0, 60, 255);
  --purple: rgb(195, 0, 255);
  --purple-hover: rgb(160, 0, 125);
  --black: rgb(0, 0, 0);
  --black-hover: rgb(50, 50, 50);
  --light-gray: rgb(230, 230, 230);
  --light-gray-hover: rgb(205, 206, 205);
  --gray: rgb(175, 175, 175);
  --gray-hover: rgb(145, 145, 145);

  --table-main: rgb(255, 100, 0);
  --table-secondary: rgb(255, 75, 0);

  --text: rgb(75, 75, 75);
  --text-alt: rgb(255, 145, 145);

  --accent: rgb(50, 255, 0);

  --card: rgb(216, 216, 216);
  --detail-bg: rgb(170, 0, 0);

  --color-assistance: rgb(255, 145, 0);
  --color-fire: rgb(160, 0, 0);
  --color-ambulance: rgb(225, 0, 105);
  --color-police: rgb(0, 130, 255);
  --color-misc: rgb(0, 130, 50);
}

*::selection {
  background-color: rgba(0, 0, 0, .25);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

.material-symbols-outlined {
  user-select: none !important;
}

p {
  all: unset;
}

/* interface stuff */

.user-data-bar {
  position: absolute;
  z-index: 8;
  top: 1rem;
  left: 5rem;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-evenly;
  gap: .75rem;
  color: white;
}

.user-wallet,
.user-skill-container {
  background-color: var(--red);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 .5rem 0 var(--black);
}

.user-skill-container {
  display: grid;
  align-items: center;
  justify-content: center;
  row-gap: .25rem;
  column-gap: .4rem;
  grid-template-rows: 1rem auto;
  grid-template-columns: 10rem auto;
}

.skill-bar {
  width: 10rem;
  height: 1rem;
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  background-image: linear-gradient(90deg, var(--light-green) 50%, var(--light-gray) 50%);
  background-size: 200%;
  background-position: 90%;
  background-clip: border-box;
  background-repeat: no-repeat;
  border-radius: 1rem;
}

.skill-xp {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: .15rem;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: -.1rem;
}

.skill-level {
  align-items: baseline;
  font-size: 1rem;
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  font-weight: 400;
}

.user-wallet {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .25rem;
}


.sidebar {
  height: 100%;
  width: max-content;
  background-color: var(--red);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: .4rem;
  user-select: none;
  box-shadow: 0 0 1vh 0 var(--black);
  position: static;
  z-index: 10;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: fit-content;

  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
}

/* general */

.placeholder {
  height: 100%;
}

.sidebar-item button {
  all: unset;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .5rem;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.sidebar-item button:hover {
  color: white;
  background-color: var(--red-hover);
}

.sidebar-item button span {
  font-size: 2.6rem;
}

.sidebar-item .tooltip {
  position: absolute;
  display: none;
  padding: .2rem .8rem;
  margin: 0 3.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 .25rem 0 rgb(0, 0, 0, .6);
  opacity: 0;
  font-size: 1rem;
  background-color: var(--red-hover);
  color: white;
  transition: opacity .2s ease-in-out;
  font-weight: 600;
  z-index: 10;
}

.sidebar-item button:hover .tooltip {
  display: block;
  opacity: 1;
  animation: blur-out .5s ease-in-out forwards;
}

@keyframes blur-out {
  0% {
    display: none;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

.map-container {
  height: 100%;
  width: 100%;
}

.dialog[open] {
  all: unset;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  user-select: none;
  background-color: white;
  overflow-y: auto;
}

.dialog-item {
  display: grid;
  gap: 2rem;
  padding: 2rem;
  max-width: 100dvw;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.dialog-container dialog[open] {
  z-index: 100;
  user-select: none;
  box-shadow: 0 0 2rem 0 rgb(0, 0, 0, .4);
  height: 90%;
  width: 90%;
  border-radius: 1rem;
  border: none;
  padding: 0;
}

.dialog-head {
  background-color: var(--red);
  color: white;
  padding: 1rem 3rem;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  box-shadow: 0 0 1rem .1rem rgb(0, 0, 0, .5);
}

.close-dialog {
  all: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: .5rem;
  border: .15rem solid white;
  color: white;
  border-radius: .6rem;
  padding: .2rem .5rem;
  transition: background-color .2s linear;
  cursor: pointer;
}

.close-dialog:hover {
  background-color: var(--red-hover);
}

.close-dialog p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 600;
}

.close-dialog span {
  font-size: 2rem;
  font-weight: 600;
}

.mission-container {
  background-color: var(--card);
  box-shadow:
    .75rem .75rem 1.5rem .1rem rgba(0, 0, 0, .25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  min-width: 400px;
}

.mission-head {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  padding: 1rem;
  color: white;
  background: var(--red);
  border-radius: 1rem 1rem 0 0;
}

.mission-icon {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
  height: 2.5rem;
  width: 2.5rem;
  padding: .5rem 1rem;
}

.mission-icon img {
  height: 2.5rem;
  width: 2.5rem;
}

.mission-title {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 6;
  font-weight: 600;
}

.mission-type {
  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 3;
  grid-column-end: 6;
  font-weight: 400;
}

.mission-location {
  grid-row-start: 3;
  grid-column-start: 2;

  grid-row-end: 4;
  grid-column-end: 6;
  font-weight: 400;
}

.mission-information {
  padding: 2rem;
  height: 100%;
}

.mission-interface {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 1rem;
}

.mission-interface button {
  all: unset;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  padding: .4rem .6rem;
  border-radius: .4rem;
  transition: background-color .15s ease-in-out;
}

.mission-cancel {
  background-color: var(--red) !important;
}

.mission-cancel:hover {
  background-color: var(--red-hover) !important;
}

.mission-respond {
  background-color: var(--green) !important;
}

.mission-respond:hover {
  background-color: var(--green-hover) !important;
}

.radio-content {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
  margin: 1rem;
}

.radio-msg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.radio-sender {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--light-gray);
  border-radius: .5rem;
  transition: background-color .15s ease-in-out;
  cursor: pointer;
}

.sender-name {
  padding: .2rem .5rem;
  margin: 0;
}

.vehicle-status,
.sender-status {
  color: white;
  margin: 0;
  padding: .2rem .5rem;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  transition: background-color .15s ease-in-out;
  cursor: pointer;
}

.status-1 {
  background-color: var(--blue);
}

.status-2 {
  background-color: var(--light-green);
}

.status-3 {
  background-color: var(--orange);
}

.status-4 {
  background-color: var(--red);
}

.status-5 {
  background-color: var(--purple);
}

.status-6 {
  background-color: var(--black);
}

.status-1:hover,
.radio-sender:hover .status-1 {
  background-color: var(--blue-hover);
}

.status-2:hover,
.radio-sender:hover .status-2 {
  background-color: var(--light-green-hover);
}

.status-3:hover,
.radio-sender:hover .status-3 {
  background-color: var(--orange-hover);
}

.status-4:hover,
.radio-sender:hover .status-4 {
  background-color: var(--red-hover);
}

.status-5:hover,
.radio-sender:hover .status-5 {
  background-color: var(--purple-hover);
}

.status-6:hover,
.radio-sender:hover .status-6 {
  background-color: var(--black-hover);
}

.radio-sender:hover {
  background-color: var(--light-gray-hover);
}

.radio-device {
  height: fit-content;
  width: 10rem;
  background-color: rgb(45, 45, 45);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.radio-preview {
  color: black;
  font-family: monospace;
  background-color: rgb(208, 255, 0);
  padding: .5rem;
  border-radius: .4rem;
}

.radio-code {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: .5rem;
}

.radio-code-digit {
  background-color: var(--gray);
  cursor: pointer;
  text-align: center;
  transition: background-color .15s ease-in-out;
  border-radius: 1rem;
  color: white;
  padding: .2rem 0;
}

.radio-code-digit:hover {
  background-color: var(--gray-hover);
}

#cancel-radio {
  background-color: var(--red);
}

#send-radio {
  background-color: var(--light-green);
}

#cancel-radio:hover {
  background-color: var(--red-hover);
}

#send-radio:hover {
  background-color: var(--light-green-hover);
}

.building-content {
  padding: 0 4rem;
}

.building-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: min-content;
}

.building-group-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 3rem 0;
  padding: 1rem;
  border-radius: 1rem;
  column-gap: .5rem;
  background-color: var(--red);
  color: white;
}

.group-name {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
}

.group-icon {
  font-size: 2.5rem !important;
}

.building-icon {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 2;
}

.building-icon img {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
}

.building-item {
  row-gap: 1rem;
  border-radius: 3rem;
  height: min-content;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  background-color: var(--card);
}

.building-name {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
  padding: 0 .6rem;
  margin: 0;
  font-size: 1.8rem;
  font-weight: 500;
}

.building-detail {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
  font-weight: 400;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5rem, auto));
  grid-template-rows: repeat(auto-fill, minmax(1rem, 2rem));
  gap: .5rem;
}

.detail-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  padding: .2rem .6rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: .5rem;
  color: white;
  background-color: var(--detail-bg);
}

.detail-title {
  font-weight: 600;
}

.detail-value {
  font-weight: 200;
}

.building-header {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content auto;
  column-gap: 3rem;
  row-gap: 1rem;
  padding: 2rem;
  border-radius: 2rem;
}

.building-fleet {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(48%, auto));
  grid-template-rows: repeat(auto-fit, 5rem);
  gap: 2rem;
  padding: 2rem;
}

.vehicle-icon img {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
}

.fleet-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, auto));
  grid-template-rows: 2.5rem 2.5rem;
  justify-content: flex-start;
  column-gap: 1rem;
  border-radius: 2rem;
}

.fleet-item div:not(.vehicle-icon) {
  align-self: center;
}

.vehicle-icon {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
}

.vehicle-name {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
}

.vehicle-status {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 4;
  align-self: center;
  justify-self: center;
  border-radius: 1rem;
}

.vehicle-type {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
}

.vehicle-mission {
  grid-row-start: 1;
  grid-column-start: 4;
  grid-row-end: 3;
  grid-column-end: 5;
}

.vehicle-menu_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 3rem;
  height: 100%;
  width: calc(100% - 6rem);
}

.vehicle-menu_interface-container {
  padding: 1rem;
  height: 35rem;
}

.vehicle-menu_hint {
  font-size: 2rem;
}

.dialog-btn {
  all: unset;
  cursor: pointer;
  background-color: var(--card);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  height: 4rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .35);
}

.dialog-btn:disabled {
  filter: opacity(50%);
  cursor: not-allowed;
}

.dialog-btn:hover .icon {
  background-color: var(--red-hover);
}

.dialog-btn:disabled:hover .icon {
  background-color: var(--red);
}

.dialog-btn .icon {
  transition: .25s ease-in-out;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem 1rem 0 0;
  width: 4rem;
  border-radius: 1rem 0 0 1rem;
  background-color: var(--red);
  padding: 1.5rem;
  color: white;
}

.dialog-btn-title {
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.create-content {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.create-content-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.create-content-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: var(--card);
  border-radius: 1rem;
  padding: 2rem;
  max-width: 100%;
}

.create-content-item .group-header {
  background-color: var(--red);
  color: white;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 1rem;
  width: 100%;
}

.group-header h2 {
  padding: 0;
  margin: 0;
}

.group-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

#foldable {
  display: flex;
  z-index: 100;
  margin: 1rem;
}

/* crew */

._svg-symbol-container g {
  transition: .25s ease-in-out;
}

._svg-symbol-container g:hover {
  filter: drop-shadow(0 0 .05rem black);
  cursor: pointer;
}

._svg-symbol-container text {
  user-select: none;
}

._svg-crew-interface {
  height: 100%;
  width: 100%;
}

/* fleet */
.vehicle-card {
  background-color: var(--card);
  padding: 1rem;
  border-radius: 1rem;

  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto auto auto auto;
  gap: .5rem;
}

.vehicle-card div {
  padding: 1rem;
  background-color: var(--gray);
  border-radius: .5rem;
}

.vc-header {
  grid-row: 1 / 2;
  grid-column: 1 / 6;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.vc-icon {
  height: 4rem;
  width: 4rem;
  object-fit: cover;
  border-radius: 100%;
}

.vc-strength {
  grid-row: 2 / 3;
  grid-column: 1 / 6;
  display: flex;
  align-items: center;
}

.vc-crew {
  grid-row: 3 / 5;
  grid-column: 1 / 4;
}

.vc-default-inventory {
  grid-row: 3 / 4;
  grid-column: 4 / 6;
}

.vc-extra-inventory {
  grid-row: 4 / 5;
  grid-column: 4 / 6;
}

.vc-interact {
  grid-row: 5 / 6;
  grid-column: 1 / 6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: .5rem;
  color: white;
  padding: .75rem !important;
  height: min-content;
}

.buy-vehicle-btn {
  all: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1.25rem;
  background-color: var(--green);
  color: white;
  padding: .75rem .85rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color .25s ease-in-out;
}

.buy-vehicle-btn:hover {
  background-color: var(--green-hover);
}

.buy-price-area {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: .25rem;
}

/* buildings */

.buildings {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 2rem;
  gap: 2rem;
}

.building-table {
  height: max-content;
  width: 100%;
}

.building-table td {
  padding: .25rem 1rem;
}

.building-table th {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  letter-spacing: -.1rem;
  padding: .5rem 0;
  background-color: var(--red);
  color: white;
  text-transform: uppercase;
}

.building-table th:first-child {
  border-radius: 1.75rem .25rem .25rem .75rem;
}

.building-table th:last-child {
  border-radius: .25rem 1.75rem .75rem .25rem;
}

.building-table .list-item td:not(.list-ui) {
  background-color: var(--card);
}

.building-table .list-item .list-title {
  border-radius: .75rem .25rem .25rem .75rem;
}

.building-table .list-item .list-location {
  border-radius: .25rem .75rem .75rem .25rem;
}

.building-table .list-item:last-child .list-title {
  border-radius: .75rem .25rem .25rem 1.75rem;
}

.building-table .list-item:last-child .list-location {
  border-radius: .25rem .75rem 1.75rem .25rem;
}

.list-ui {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: max-content;
}

.list-ui .ui-item {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--text-alt);
  background-color: var(--card);
  cursor: pointer;
  transition: color .25s ease-in-out, background-color .25s ease-in-out, border-radius .15s ease;
  border-radius: .75rem;
  height: 3rem;
  width: 3rem;
}

.list-ui .list-del {
  background-color: var(--red);
  color: white;
}

.list-ui .list-edit:hover {
  border-radius: 1rem;
  background-color: var(--text-alt);
  color: white;
}

.list-ui .list-del:hover {
  border-radius: 1rem;
  background-color: var(--red-hover);
}

/* manage single area */

.tune-area-content {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  gap: 2rem;
}

.e_sect-container {
  border-radius: 1rem;
  padding: .75rem;
}

.edit-item-cont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.e_ui-hint {
  font-size: 1.25rem;
  font-family: 'Roboto';
  text-transform: uppercase;
  letter-spacing: -.01rem;
}

.e_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: .5rem .75rem;
  background-color: var(--table-main);
  border-radius: .75rem;
  color: white;
}

.e_item input,
.e_item button {
  all: unset;
}

/* error-msg */

.error-msg {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.error-msg h1 {
  text-transform: capitalize;
  font-size: 2rem;
  margin: 0;
  padding: 1rem 0;
  color: var(--red);
}

.error-field {
  background-color: var(--gray);
  padding: .25rem .5rem;
  border-radius: .25rem;
  font-size: 1rem;
}

.error-msg i {
  font-size: .85rem;
  margin: .25rem 0;
  padding: 0 .25rem;
}

/* validation-dialog */

.validation-dialog[open] {
  all: unset;
  margin: auto;
  padding: 1rem;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: fit-content;
  width: fit-content;
  user-select: none;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.validation-dialog[open] .desc h2 {
  margin: 0;
  padding: 0;
}

.validation-dialog[open] .interface {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  justify-content: center;
}

.validation-dialog[open]::backdrop {
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(5px);
}

/* searchbox */

.search-box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  margin: 2rem;
  padding: 1.25rem;
  background-color: white;
  border-radius: .5rem;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.75);
  width: 35rem;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.user-hint-container {
  padding: .5rem;
  background-color: var(--card);
  border-radius: .25rem;
  display: flex;
  flex-direction: column;
}

.place-building-ui {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  align-items: center;
  justify-content: flex-end;
  padding: .5rem;
}

.place-building-ui button {
  all: unset;
  padding: .5rem .75rem;
  cursor: pointer;
  color: white;
  border-radius: .5rem;
  transition: background-color .35s ease-in-out;
  box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, .3);
  user-select: none;
}

.place-building-ui button:disabled {
  cursor: not-allowed;
  filter: contrast(50%) grayscale(30%);
  scale: 95%;
  box-shadow: none;
}

.place-building-ui .btn-cancel {
  background-color: var(--red);
}

.place-building-ui .btn-next {
  background-color: var(--light-green);
}

.place-building-ui .btn-cancel:hover {
  background-color: var(--red-hover);
}

.place-building-ui .btn-next:hover {
  background-color: var(--light-green-hover);
}

/* mision area ui */

.user-in-text,
.user-dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: .5rem;
}

.mission-area-container .user-hint,
.user-in-text .user-hint,
.user-dropdown .user-hint {
  padding-left: .75rem;
  font-size: .8rem;
  text-transform: uppercase;
  user-select: none;
}

.user-in-text input[type=text],
.user-dropdown select {
  all: unset;
  background-color: var(--gray);
  padding: .25rem .75rem;
  border-radius: .75rem;
  height: 2rem;
  width: calc(100% - 1.75rem);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.user-dropdown select,
.user-dropdown select option {
  cursor: pointer !important;
}

.input-feedback {
  display: none;
  color: red;
}

.user-in-text input[type="text"]:invalid+.input-feedback {
  display: flex;
  flex-direction: row;
  font-size: .75rem;
  font-style: italic;
  font-weight: 500;
  padding: .25rem .75rem;
}

/* language-select */

.language-select[open] {
  all: unset;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40rem;
  width: 60rem;
  user-select: none;
  background-color: white;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}

.language-select[open]::backdrop {
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(5px);
}

.modal-inner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: var(--red);
}

.language-wheel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 6rem;
  z-index: 2;
  row-gap: 2rem;
}

.modal-inner-container::after {
  content: '';
  position: absolute;
  top: -5rem;
  left: -15rem;
  z-index: 1;
  height: 50rem;
  width: 50rem;
  border-radius: 20rem/25rem;
  background-color: white;
}

.language-wheel:before {
  content: '';
  position: absolute;
  top: 0;
  left: -25%;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(circle at 0 50%, white 35%, transparent);
  z-index: 2;
}

.lang-item {
  width: 30rem;
  height: 2.5rem;
  text-indent: 15rem;
  border-radius: .2rem 1rem 1rem .2rem;
  box-shadow: inset 0 0 .5rem 0 rgba(0, 0, 0, 0.25), 0 0 1rem 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
  text-transform: uppercase;
  color: rgb(245, 245, 245);
  cursor: pointer;
  transition: border .25s ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.lang-item .fi {
  font-size: 1.3rem;
}

.lang-item-active {
  background-image: radial-gradient(circle at 0 50%, red, rgb(200, 0, 0));
  transform: scale(105%) translateX(1.25rem);
  z-index: 3;
  color: white;
  border: .1rem solid black;
}

.lang-item-active::before {
  content: '';
  position: absolute;
  left: -2rem;
  height: 5rem;
  width: 20rem;
  background-image: radial-gradient(circle at 0 50%, white 20%, transparent);
  z-index: 4;
}

.lang-item:nth-child(2),
.lang-item:nth-child(4) {
  background-image: radial-gradient(circle at 0 50%, rgb(255, 90, 90), rgb(255, 0, 0));
  transform: scale(100%) translateX(1rem);
}

.lang-item:last-child,
.lang-item:first-child {
  background-image: radial-gradient(circle at 0 50%, rgb(255, 180, 180), rgb(255, 0, 0));
}

.lang-preview {
  margin: 5rem;
  font-size: 2rem;
  color: white;
}